/* Establecer parametros generales *{}     */
*,
html {
  padding: 0;
  margin: 0;
  font-family: Inder-Regular, sans-serif !important;
}

header {
  display: flex;
  justify-content: center;
  background-color: #dcb8c4;
  width: 100%;
  height: 59px;
  padding: 10px 0 10px 0;
  position: sticky;
  top: 0;
}

img {
  width: 120px;
}

h1 {
  text-align: center;
  color: black;
  padding: 10px;
}

h2 {
  text-align: center;
  color: black;
  padding: 10px;
}

h4 {
  text-align: center;
  color: black;
  padding: 10px;
}

p {
  text-align: center;
  color: black;
  padding: 10px;
}

/* CONTENEDOR PRINCIPAL */
.container {
  background-color: #f5f5f5;
  width: 100%;
  height: calc(110vh - 59px);
}

/* CONTENEDOR SUPERIOR */
.container-main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  padding-top: 25px;
  background-image: url("./../assets/img/Banner\ Test.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-greeting {
  width: 400px;
  height: 300px;
}

.container-greeting h1,
.container-greeting p {
  color: #f5f5f5;
  font-weight: bold;
}

/* CONTENEDOR INFERIOR */
.container-product-recomendation {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  margin-top: 25px;
  width: 100%;
  height: 50%;
}

.container-ProdRecomm-left {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;
  height: 100%;
}

.container-ProdRecomm-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}

.container-ProdRecomm-right h1,
p {
  align-self: flex-start;
}

.container-ProdRecomm-right-products {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}

/* CONTENEDOR PRODUCTO1 */
.container-Prod1 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}

.container-Prod1:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.356);
  transition: 0.3s;
  cursor: pointer;
}

.Prod1-image {
  border-radius: 15px 15px 0 0;
  padding-bottom: 20px;
  /*background-color: #dcb8c4;*/
  width: 100%;
  height: 44%;
  background-image: url("./../assets/img/Prenatal_2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Prod1-image p {
  padding-top: 18px;
  padding-left: 14px;
  text-align: left;
  font-weight: bold;
}
/* CONTENEDOR PRODUCTO2 */
.container-Prod2 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}

.container-Prod2:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.356);
  transition: 0.3s;
  cursor: pointer;
}

.Prod2-image {
  border-radius: 15px 15px 0 0;
  padding-bottom: 20px;
  /*background-color: #dcb8c4;*/
  width: 100%;
  height: 44%;
  background-image: url("./../assets/img/Bajas_2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Prod2-image p {
  padding-top: 18px;
  padding-left: 14px;
  text-align: left;
  font-weight: bold;
}

/* CONTENEDOR PRODUCTO3 */
.container-Prod3 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}

.container-Prod3:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.356);
  transition: 0.3s;
  cursor: pointer;
}

.Prod3-image {
  border-radius: 15px 15px 0 0;
  padding-bottom: 20px;
  width: 100%;
  height: 44%;
  background-image: url("./../assets/img/Woman_2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Prod3-image p {
  padding-top: 18px;
  padding-left: 14px;
  text-align: left;
  font-weight: bold;
}

.buy {
  z-index: 1;
  top: 25px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  display: flex;
  height: 30px;
  max-height: 60px;
  width: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.425);
  transition: 0.1s;
  background-color: rgba(230, 233, 36, 0.2);
}

.buy:hover {
  border-style: solid;
  border-color: Black;
}
